.container {
  margin-top: 200px;
  height: auto;
}
.contain {
  display: block;
  height: auto;
  margin: auto 0;
}

.one,
.two,
.four {
  padding: 0 60px;
}

/* one */
.one {
  display: flex;
  position: relative;
  height: 60vh;
  margin-bottom: 300px;
}
.text {
  position: absolute;
  z-index: 9;
  width: 60%;
  top: 10%;
}
.text h1 {
  font-size: 50px;
  color: #727272;
}

.text h1 span {
  background: linear-gradient(90.06deg, #0000ff 2.49%, #b072d2 78.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.button {
  background-color: #0000ff;
  color: white;
  padding: 10px 25px;
}

.one .placeholder {
  min-width: 30%;
}

.one .image {
  display: block;
  flex: 1 1 60%;
  position: relative;
  margin: 0 0 0 auto;
  min-width: 60%;

  height: 600px;
  object-fit: fill;
}

.values {
  text-align: center;
  padding: 0 30px;
}

@media (max-width: 800px) {
  .one .image {
    min-width: 90%;
  }
  .one {
    flex-direction: column;
    margin-bottom: 100px;
  }
  .text {
    top: 0;
    width: 95%;
  }
  .text h1 {
    font-size: 35px;
  }

  .placeholder {
    height: 100px;
    /* display: none; */
  }
}

@media (max-width: 480px) {
  .text h1 {
    font-size: 35px;
  }
}

/* two */

.two {
  display: flex;
  margin-top: 100px;
}

.two h1 {
  transform: translateX(-45px);
}

.two p {
  margin-bottom: 30px;
}

.two .content {
  padding-left: 20px;
}

.two .placeholder {
  display: none;
}

.two .image {
  display: flex;
}

@media (max-width: 800px) {
  .two {
    flex-direction: column;
  }
  .two .placeholder {
    display: inline-block;
    width: 30%;
  }
  .two .content {
    width: 60%;
    padding-left: unset;
    transform: translateY(-60px);
  }
  .two h1 {
    transform: translateX(0px);
  }
}

/* three */

.three {
  background-color: #efefef;
  margin-top: 100px;
  padding: 50px 0;
}

.three h1 {
  text-align: center;
  margin: 50px 0;
}

/* four  */

.four {
  margin-top: 100px;
}

.four .content li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 10px 0px;
  font-size: 20px;
}

.four .content li h2 {
  padding: 0 10px;
}
