.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 99;
  padding: 20px 60px 0 60px;
}
@media (max-width: 800px) {
  .container {
    padding: 20px 25px 0 25px;
  }
}
.logo p {
  display: inline-block;
  font-weight: bolder;
  transform: translateY(-5px);
}

.burger {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 9999;
}

.burger p {
  margin-right: 10px;
}

.menu_wrapper {
  position: fixed;
  height: 100vh;
  top: 0%;
  right: 0%;
  min-width: 480px;
  padding: 40px;
  background-color: rgba(254, 254, 254, 0.9);
  z-index: 999;
}
@media (max-width: 480px) {
  .menu_wrapper {
    min-width: 100%;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu a,
.burger p,
.burger,
.burger svg,
.menu {
  background-color: transparent;
}
.menu button {
  font-size: 40px;
  line-height: 1.2;
  font-weight: bold;
  margin: 10px 0;
}
